<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64947782852-poqhc34t0dcaen37ebpbvabf2s4fanlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64947782852-poqhc34t0dcaen37ebpbvabf2s4fanlq</string>
	<key>API_KEY</key>
	<string>AIzaSyDKW3UzuB8EmwW9FtsHfTnbsAIttCBYU50</string>
	<key>GCM_SENDER_ID</key>
	<string>64947782852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motionllc.motion</string>
	<key>PROJECT_ID</key>
	<string>motion-955a9</string>
	<key>STORAGE_BUCKET</key>
	<string>motion-955a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64947782852:ios:f209a9ac5e8931e3cd3591</string>
</dict>
</plist>